<!DOCTYPE html>
{% extends 'header.html' %}
<html>
    {% block content %}
    <head>
        {% load static %}
        <!-- Prism CSS -->
        <link href="{% static 'tinymce/css/prism.css' %}" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript for Materialize CSS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- Custom fonts for this template -->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        {% load static %} 
        <div class="row" style="width: 100%; display: flex; flex-direction: row; justify-content: center;">
            <div style="width: 500px; margin: 20px; height: 350px; border: 3px solid green; border-radius: 90px; background-color: rgb(211, 255, 191);" class="block">
                <header style="color: green; text-align: center;"><h6><u><b>JA Innovation Camp is a full-day</b></u></h6></header>
                <p style="padding: 15px; text-align: justify;"> JA experiential program that builds STEM and soft skills 
                    (creativity, entrepreneurial mindset, teamwork and problem solving) of students, and inspire 
                    them to apply their learnings to develop a solution for a problem that they identify in their 
                    communities through team exercise, prototyping and presentation. Students will be motivated to take 
                    initiatives to find innovative solutions to real-life problems and contribute to the community.
                    <p style="text-align: center;"><b>8 hours & 25 points</b></p>
                </p>
            </div>
            <div style="width: 500px; margin: 20px; height: 280px; border: 3px solid green; border-radius: 90px; background-color: rgb(211, 255, 191);" class="block">
                <header style="color: green; text-align: center;"><h6><u><b>JA Personal Spending</b></u></h6></header>
                <p style="padding: 15px; text-align: justify;"> The program helps students 
                    develop a responsible attitude towards personal spending. Business volunteers share with the 
                    students their financial management experiences to help students understand the concepts of income, 
                    saving, expense, donation, budget and differentiate between “needs” and “wants”.
                    <p style="text-align: center;"><b>8 hours & 25 points</b></p>
                </p>
            </div>
        </div>
        
        <section>
            <header style="color: green;"><h6><u><b>Your Assignments:</b></u></h6></header>
            <p style="border: 3px solid green; padding: 10px; text-align: justify; border-radius: 10px;">1. JA Innovation Camp &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; In Progress &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Registered
                <br> 
            2. JA XYZ Student Mentorshop Volunteer &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Completed &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp; Concluded</p>
        </section>
         

        <!--{% for myevent in event %}
        <p>{{myevent.event_title}}</p>
        <p>{{myevent.event_published}}</p>
        <p>{{myevent.event_content | safe}}</p>
        <br><br>
    {% endfor %}-->
    </body>
    {% endblock %}
</html>

